.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

body{
  background-color: rgb(0, 0, 0);
}
.caption{
height: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.texthome{
  color:white;
  margin-top: 40px;
  margin-left: 20px;
  font-size:40px;
  width:70%;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Use numerical value instead of '500px' */
  font-style: normal;
}
.text1home{
  color:white;
  margin-top: 40px;
  font-size:20px;
   width:100%;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
letter-spacing: 1px;
line-height: 2.8;
}
.hptxt{
  display: flex;
 

}

.appbar{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}

.navbarhover .MuiButton-root:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px; /* Increase the thickness of the underline */
  text-underline-offset: 3px; /* Adjust the gap between the text and underline */
}
.text2home{
  color:white;
  margin-top: 40px;
  margin-left: 20px;

  font-size:20px;
  width:95%;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
}
@media (max-width: 768px) {
  .text1home {
    color: white;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
  }
}

.text2home {
  margin-top: 20px;
}
.texthome4 {
  color: white;
 
  margin-left: 20px;
  font-size: 18px;
  width: 70%;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}
.caption1{
  height: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    justify-content: center;
    text-align: center;
  
  }
  .footer{
    
    height:"100px";
    width: 103%;
    background-color:#0d0d0d ;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    
  }
  @media (max-width: 768px)  {
    .footer{
     height:"100px";
      width: 100%;
      background-color:#0d0d0d ;
      font-size: large;
      display: flex;
      margin-right: 20px;
      flex-wrap: wrap;
      
    }
  }